<div class="content" data-section-id="{{ section.id }}" data-section-type="collection">
  {% include 'collection' %}
</div>

{% schema %}
{
  "name": "Collection page",
  "settings": [
    {
      "id": "show_header",
      "type": "checkbox",
      "label": "Show collection header",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "product_grid_tags_enable",
      "label": "Show product tags",
      "info": "[Learn how to add product tags](https:\/\/docs.shopify.com\/manual\/products\/add-update-products#tags)",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "product_grid_titles_enable",
      "label": "Show products title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "product_grid_prices_enable",
      "label": "Show products price",
      "default": true
    },
    {
      "type": "select",
      "label": "Products text alignent",
      "id": "product_grid_text_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Interactions",
      "info": "Desktop and tablet only."
    },
    {
      "type": "checkbox",
      "id": "product_grid_preview_enable",
      "label": "Enable product previews"
    },
    {
      "type": "checkbox",
      "id": "product_grid_interactive_enable",
      "label": "Show product info on mouse over"
    },
    {
      "type": "range",
      "id": "product_grid_mouseover_opacity",
      "label": "Mouse over overlay opacity",
      "info": "Adjust to achieve a better title readability",
      "default": 70,
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%"
    },{
      "type": "checkbox",
      "id": "product_grid_mouseover_gradient_enable",
      "label": "Use gradient as mouse over overlay"
    }
  ]
}
{% endschema %}
